@page
@model AspNetCoreWebAppCodeFirst.Pages.IndexModel

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<nav class="nav flex-column">
    <a class="nav-link text-dark" asp-area="" asp-page="/HiddenInput">Hidden Input</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/CV">CV</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Question">Question</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Register">Register</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Upload">Upload</a>
</nav>